.login-form .form-row{
    padding-bottom: 20px;
}

.login-header{
    max-height: 500px;
    padding-top: 10px;
    
}

.centro-header{
    max-height: 200px;
}

header.masthead h1{
    font-size: 3rem;
}

.riga-superiore{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.centro-body{
    min-height: 100px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bottone-lista-hdr{
    margin-top: 20px;
    float:right;
}

.bottone-lista-hdr .btn {
    border-radius: 30px;
}

.icon-user-follow{
    font-size: 2rem;
}

.icon-plus{
    font-size: 2rem;
}

.attivita-body{
    margin-top:30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container >.info-allievo{
    padding-bottom: 20px;
}

body .titolo{
    font-size: 3rem;
    padding-top:22px;
    margin-left: 17px;
}

.centro-attivita{
    min-height: 100px;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 20px;
}

td .btn{
    float:right;
}

.features-icons{
    padding-top: 30px;
    padding-bottom: 30px;
}

body .table{
    margin-top:20px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    width: inherit;
    max-width: 90%;
}

.col-piccola{
    width: 100px;
}

.icon-layers .icon-check{
    float: left;
    height: 7rem;
    max-width: 20rem;
}

.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

