<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Informazioni Allievo</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link th:href="@{vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link th:href="@{css/landing-page.min.css}" rel="stylesheet">
        <link th:href="@{css/stile.css}" rel="stylesheet">

    </head>

    <body class="bg-light">

        <!-- Navigation -->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <a class="btn btn-primary" href="#">Log Out</a>
            </div>
        </nav>

        <div class="container centro-body attivita-body effect6">
		<section class="info-allievo">
			<h1 class="titolo" th:text="${allievo.nome}">Nome</h1>

			<div th:if="${!param.isEditing}">
			<ul class="list-group">
				<li
					class="list-group-item d-flex justify-content-between align-items-center" th:text="${allievo.email}">
					e-mail</li>
				<li
					class="list-group-item d-flex justify-content-between align-items-center">
					telefono</li>
				<li
					class="list-group-item d-flex justify-content-between align-items-center">
					data e luogo nascita</li>
			</ul>
			</div>
			
			
			<div th:if="${param.isEditing}">
				<ul class="list-group">
				<li
					class="list-group-item d-flex justify-content-between align-items-center">
					<input type="email" class="form-control" placeholder="inserire email"></li>
				<li
					class="list-group-item d-flex justify-content-between align-items-center">
					<input type="tel" class="form-control" placeholder="inserire telefono"></li>
				<li
					class="list-group-item d-flex justify-content-between align-items-center">
					<input type="date" class="form-control" placeholder="inserire data nascita"></li>
					
				<li
					class="list-group-item d-flex justify-content-between align-items-center">
					<input type="text" class="form-control" placeholder="inserire luogo nascita"></li>
				</ul>
				
			</div>
		</section>
	</div>


        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <i class="icon-pencil m-auto text-primary"></i>
                                <a href="#">Modifica</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="./infoMie.html">About</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">

                                <a href="infoMie.html">Contact</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Progetto SIW 2018</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
