<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Login</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link th:href="@{vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link th:href="@{css/landing-page.min.css}" rel="stylesheet">
        <link th:href="@{css/stile.css}" rel="stylesheet">

    </head>

    <body>
        <div class="riga-superiore bg-light">
        </div>

        <!-- Masthead -->
        <header class="masthead text-white login-header">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <h1 class="mb-5">Login</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div th:if="${param.error}" class="alert alert-error">    
                         Invalid username or password.
                    </div>
                        <form class="login-form" th:action="@{/login}" name="f" method="post">
                            <div class="form-row">
                                <div class="col-12 col-md-9 mb-2 mb-md-0">
                                    <input type="user" class="form-control form-control-lg" placeholder="Username.." name="username">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-9 mb- mb-md-0">
                                    <input type="password" class="form-control form-control-lg" placeholder="Password.." name="password">
                                </div>
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">Entra</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>


        <!-- Footer -->
        <footer class="footer bg-light">
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
